<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
   http://www.springframework.org/schema/beans 
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
   http://www.springframework.org/schema/tx 
   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
   http://www.springframework.org/schema/context      
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   
   
  
         <bean name="userAction" class="com.webTest.Action.UserAction">
         	<property name="userService" ref="userServiceImpl" />
    	 </bean>
    	 
    	 <bean name="admAction" class="com.webTest.Action.AdmAction">
    	 	<property name="admService" ref="admserviceImpl"></property>	
    	 </bean>
    	 
    	 <bean name="ActiveServlet" class="com.webTest.Action.ActiveServlet">
    	 	<property name="admService" ref="admserviceImpl"></property>	
    	 </bean>

    	  <bean name="FindPasswordServlet" class="com.webTest.Action.FindPasswordServlet">
    	 	<property name="admService" ref="admserviceImpl"></property>	
    	 </bean>
    	 <bean name="CheckServlet" class="com.webTest.Action.CheckServlet">
    	 	<property name="admService" ref="admserviceImpl"></property>	
    	 </bean>
    	  <bean name="ResetPasswordServlet" class="com.webTest.Action.ResetPasswordServlet">
    	 	<property name="admService" ref="admserviceImpl"></property>	
    	 </bean>
    	 
   		 <bean name="Filec" class="com.webTest.Bean.Filec">
         </bean> 
         
     	 <bean name="Category" class="com.webTest.Bean.Category">
    	 </bean> 
    	 
         <bean name="userServiceImpl" class="com.webTest.Service.UserServiceImpl">
        	 <property name="userDao" ref="userDaoImpl" />
         </bean>
         
         <bean name="admserviceImpl" class="com.webTest.Service.AdmServiceImpl">
         	<property name="admDao" ref="admDaoImpl"></property>
         </bean>
         
         <bean name="userDaoImpl" class="com.webTest.Dao.UserDaoImpl">
        	 <property name="sessionFactory" ref="sessionFactory" />
         </bean>
         
         <bean name="admDaoImpl" class="com.webTest.Dao.AdmDaoImpl">
         	<property name="sessionFactory" ref="sessionFactory"></property>
         </bean>
         
 	     <bean name="filecAction" class="com.webTest.Action.FilecAction">
 	 		 <property name="filec" ref="Filec" /> 
 	 		 <property name="category" ref="Category" /> 
 	 		 <property name="categoryService" ref="categoryServiceImpl" /> 
        	 <property name="filecService" ref="filecServiceImpl" />
    	 </bean>
     
    	 <bean name="filecServiceImpl" class="com.webTest.Service.FilecServiceImpl">
       	 	<property name="filecDao" ref="filecDaoImpl" />
         </bean>
         
         <bean name="filecDaoImpl" class="com.webTest.Dao.FilecDaoImpl">
         	<property name="sessionFactory" ref="sessionFactory" />
   		 </bean>
   		 
         <bean name="categoryServiceImpl" class="com.webTest.Service.CategoryServiceImpl">
        	 <property name="categoryDao" ref="categoryDaoImpl" />
         </bean>
         
        <bean name="categoryDaoImpl" class="com.webTest.Dao.CategoryDaoImpl">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        <!-- 配置Hibernate事务管理器 -->
	    <bean id="transactionManager"
	        class="org.springframework.orm.hibernate4.HibernateTransactionManager">
	      <property name="sessionFactory" ref="sessionFactory" />
	   </bean>
	   
	     <!-- 配置事物属性 ，需要事物管理器-->  
   <tx:advice id="txAdvice" transaction-manager="transactionManager">  
       <tx:attributes>  
          <tx:method name="get*" read-only="true"/>  
          <tx:method name="purchase" propagation="REQUIRES_NEW"/>  
          <tx:method name="*"/>  
       </tx:attributes>  
   </tx:advice>  
     
   <!-- 配置事物切点，并把事物属性和切点关联起来 -->  
   <aop:config>  
      <aop:pointcut expression="execution(* com.webTest.Service.*.*(..))" id="txPointcut"/>  
      <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut"/>  
   </aop:config>  
        
        <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="ds" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
<!--                 <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
 -->            </props>
        </property>

        <!-- 注解方式配置 -->
        <!-- <property name="packagesToScan"> <list> <value>sy.hbm</value> </list> 
            </property> -->

        <!-- hbm方式配置 -->
        <property name="mappingDirectoryLocations">
            <list>
                    <value>classpath:com/webTest/Bean</value>
                		<!-- <value>com/webTest/Bean/User.hbm.xml</value>
               			<value>com/webTest/Bean/Filec.hbm.xml</value>
                		<value>com/webTest/Bean/Category.hbm.xml</value>
                		<value>com/webTest/Bean/Adm.hbm.xml</value> -->
           	 </list>
        </property>
    </bean>
        	
<!--         <bean name="sf" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
       	 	<property name="dataSource" ref="ds" />
       		 	<property name="mappingResources">
            		<list>
                		<value>com/webTest/Bean/User.hbm.xml</value>
               			<value>com/webTest/Bean/Filec.hbm.xml</value>
                		<value>com/webTest/Bean/Category.hbm.xml</value>
                		<value>com/webTest/Bean/Adm.hbm.xml</value>
           	   		</list>
       			</property>
  
       		 <property name="schemaUpdate">  
           		<value>true</value>  
        	 </property>  
                 
        	<property name="hibernateProperties">
           		 <value>
              		  hibernate.dialect=org.hibernate.dialect.MySQLDialect
              			  hibernate.show_sql=true
              				  hbm2ddl.auto=update
          		 </value>
      	    </property>
    </bean>    --> 
         
    <bean name="ds"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/userdata?characterEncoding=UTF-8" />
        <property name="username" value="root" />
        <property name="password" value="admin" />
    </bean>      
    
    <!--   
            配置自动扫描：  
            命名空间中记得加入几个  
            xmlns:context="http://www.springframework.org/schema/context"  
            http://www.springframework.org/schema/context   
            http://www.springframework.org/schema/context/spring-context-4.0.xsd  
         -->  
         <!--   <context:component-scan base-package = "com.webTest"/>  -->
        
</beans>